

<% @q = Faq.order(:box_id).search(params[:q]) %>
<%= search_form_for @q, url: search_faqs_path(), class: "form-inline quick-search-form" , method: :post  do |f| %>
  <div class='input-group'>
    <%= f.search_field :question_cont, class: "form-control", placeholder: "Search here", required: true %>
    <span class="input-group-btn">
      <%= f.submit('搜 尋' , id: "quick-search", class: "btn") %>
    </span>
  </div>
<% end %>