<% @faqs.each do |faq| %>
  <%= faq.question %>
  <a class='faq_quickview' href="javascript:void(0);" data-faq='<%= faq.id %>'><%= faq.question %> </a> 
  <br>
  <p id='<%= "faqblock_#{faq.id}"%>'> 
  <%# render partial: 'faq_block', locals: {faq: faq} %>
  </p>
<% end %>

<script type="text/javascript">
  $(".faq_quickview").click(function(){

    faq_id = $(this).data("faq").toString();
    
    if ( $("#faqblock_"+faq_id).html().length <= 10 ){
      $.ajax({
        type: "GET",
        url: "/faqs/"+faq_id+"/fetch_by_box",
        data: { },
        success: function(data){
          return false   
        },
        error: function(data){
          return false  
        }
      });
    }

  });
</script>
