<% if stations.length > 0 %>
 查詢結果：
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="30%" align="center">店名</td>
      <td width="70%" align="center">資訊</td>
    </tr>
    <% stations.each do |station|%>
      <tr>
        <td align="center"><%= link_to station.name , station_path(station) %></td>
        <td><%= station.address %>  <%= station.phone %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  利用此條件 查無站點 請重新查詢
<% end %>