 <header>
  <h2 class="left">明星商品<span> / 首頁管理</span></h2>
  <nav class="left"></nav>
</header>
<article>
  <div class="hgroup">
    <div class="button right">
      <%= link_to new_admin_selected_vehicle_path(), class: "right highlight" do %>
        新增<img src="/images/admin/add.png">
      <% end %>
    </div>
  </div>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @selected_vehicles.each do |selected_vehicle| %>
      <tr>            
        <td width="18%">
          <%= link_to("#{Vehicle.find(selected_vehicle.related_product_id).name}", edit_admin_category_vehicle_path(Vehicle.find(selected_vehicle.related_product_id).category, Vehicle.find(selected_vehicle.related_product_id)) ) unless selected_vehicle.related_product_id == 0 %>
        </td>
        <td width="64%">
          <p>
            <%# selected_vehicle.description %>
          </p>
        </td>
        <td width="18%">
          <div class="tool">
            <%= link_to '', edit_admin_selected_vehicle_path(selected_vehicle), class: "edit", title: "編輯" %>
            <%= link_to '', admin_selected_vehicle_path(selected_vehicle), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete', title: '刪除' %>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</article>