.animate {
    transition: all 0.3s ease 0s;
}
.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.opacity {
    opacity: 0.75;
}
.reset {
    border: medium none !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    right: 0 !important;
    top: 0 !important;
}