body > header {
     background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
     height: auto;
     max-height: 980px;
     position: absolute;
     top: 0px;
     transition: all 0.3s ease 0s;
     width: 100%;
     z-index: 99;
}

@media (max-width: 767px) {
  body > header { background: none repeat scroll 0% 0% transparent; }
}

@media (max-width: 479px) {
  body > header { height: auto; }
}

.bx-wrapper .bx-viewport {
     border: medium none ! important;
     bottom: 0px ! important;
     box-shadow: none;
     left: 0px ! important;
     margin: 0px ! important;
     padding: 0px ! important;
     right: 0px ! important;
     top: 0px ! important;
}

@media (max-width: 767px) {
  #slider { top: -76px; }
}

#slider ul {
     border: medium none ! important;
     bottom: 0px ! important;
     left: 0px ! important;
     margin: 0px ! important;
     padding: 0px ! important;
     right: 0px ! important;
     top: 0px ! important;
}

.bx-controls {
     bottom: 35px;
     position: absolute;
     width: 100%;
     z-index: 99;
}

.bx-controls .bx-pager-link {
     background: none repeat scroll 0% 0% #434a54 ! important;
     border-radius: 50% ! important;
     border: 2px solid #b6f7f9;
     height: 15px ! important;
     width: 15px ! important;
}

.bx-controls .bx-pager-link.active {
     background-color: #ed5564 ! important;
}

.content {
     padding: 5% 0px;
}

@media (max-width: 767px) {
  .content { padding: 10% 0px; }
}

.content h3 {
     background: url("http://park.summers.com.tw/toto/citypower/images/idx-03.gif") no-repeat scroll 0px 0px transparent;
     font-size: 2.3em;
     line-height: 1.3em;
     margin: 0px 0px 5%;
     padding-top: 20px;
}

.content h4 {
     font-size: 1.3em;
}

#content-1 h3 {
     background-position: 15px 0px;
     color: #646363;
}

#content-1 .news {
     border-bottom: 1px solid #bdbdbd;
     color: #6c6c6c;
     display: block;
}

@media (max-width: 767px) {
  #content-1 .news { margin: 10% 0px 0px; }
}

#content-1 .news:hover {
     border-bottom: 1px solid #5296f2;
     color: #5296f2;
}

#content-1 .news:hover .mask {
     top: 0px;
}

#content-1 .cover {
     overflow: hidden;
     position: relative;
}

#content-1 .mask {
     background: url("http://park.summers.com.tw/toto/citypower/images/idx-02.png") no-repeat scroll 10% 90% rgba(3, 81, 121, 0.7);
     color: #ffffff;
     height: 100%;
     padding: 10%;
     position: absolute;
     top: -100%;
     transition: all 0.3s ease 0s;
     width: 100%;
}

#content-1 .mask span {
     font: 900 2em Arial black;
}

#content-1 .more {
     display: block;
     transition: all 0.3s ease 0s;
     width: 100%;
}

#content-1 .more:hover {
     opacity: 0.75;
}

#content-1 .more img {
     display: inline;
}

@media (max-width: 767px) {
  #content-1 .more { margin: 10% 0px 0px; }
}

#content-1 .title {
     padding: 10% 5%;
}

#content-2 {
     display: none;
}

#content-3 {
     background-image: url("http://park.summers.com.tw/toto/citypower/images/idx-06.jpg");
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
}

#content-3 h3 {
     color: #ffffff;
     line-height: 1em;
}

#content-3 h3 small {
     color: #ffffff;
     font-size: 0.5em;
     margin: 0px 0px 0px 30%;
}

#content-3 .pull-left, #content-3 .pull-right {
     width: 45%;
}

@media (max-width: 767px) {
  #content-3 .pull-left, #content-3 .pull-right { width: 100%; }
}

#content-3 .pull-left {
     text-align: center;
}

#content-3 .pull-left img {
     display: inline;
     margin: 15% 0px 0px;
}

@media (max-width: 767px) {
  #content-3 .pull-left img { width: 75%; }
}

#content-3 .pull-right {
     color: #000000;
}

#content-3 .pull-right img {
     margin: 0px 2.5% 0px 0px;
}

@media (max-width: 767px) {
  #content-3 .pull-right img { width: 10%; position: relative; top: -3px; }
}

#content-3 .pull-right p {
     padding: 0px 0px 0px 12%;
}

@media (max-width: 767px) {
  #content-3 .pull-right p { padding: 0px 0px 0px 14%; }
}

#content-3 #rope {
     border-left: 1px solid #e13839;
}

#content-3 #box {
     left: -23px;
     position: relative;
}

@media (max-width: 767px) {
  #content-3 #box { left: -17px; }
}

#content-4 .pull-left, #content-4 .pull-right {
     width: 50%;
}

@media (max-width: 767px) {
  #content-4 .pull-left, #content-4 .pull-right { width: 100%; }
}

#content-4 .pull-right {
     text-align: center;
}

@media (max-width: 767px) {
  #content-4 .pull-right { margin: 15% 0px 0px; }
}

#content-4 .pull-right img {
     display: inline;
}

@media (max-width: 767px) {
  #content-4 .pull-right img { width: 50%; }
}

#content-4 .pull-left {
     color: #515151;
}

#content-4 .pull-left h4 {
     margin: 10% 0px 0px;
     padding: 0px 0px 0px 2%;
}

#content-4 .pull-left p {
     padding: 2%;
}

#content-4 .pull-left .more {
     margin: 10% 0px 0px;
     text-align: right;
}

@media (max-width: 767px) {
  #content-4 .pull-left .more { text-align: center; }
}

#content-4 .pull-left .more a {
     border: 1px solid #e72e4c;
     color: #e72e4c;
     display: inline-block;
     font-size: 1.5em;
     padding: 1.5% 10%;
     transition: all 0.3s ease 0s;
}

#content-4 .pull-left .more a:hover {
     background: none repeat scroll 0% 0% #e72e4c;
     color: #ffffff;
}

#content-5 {
     background: url("http://park.summers.com.tw/toto/citypower/images/idx-10.jpg") no-repeat scroll center bottom / cover  transparent;
}

@media (max-width: 767px) {
  #content-5 { background: url("http://park.summers.com.tw/toto/citypower/images/idx-10.jpg") no-repeat scroll left bottom / cover  transparent; }
}

#content-5 .pull-left, #content-5 .pull-right {
     width: 45%;
}

@media (max-width: 767px) {
  #content-5 .pull-left, #content-5 .pull-right { width: 100%; }
}

@media (max-width: 767px) {
  #content-5 .pull-right { text-align: center; margin: 15% 0px 0px; }
}

#content-5 .pull-right img {
     display: inline;
}

#content-5 .pull-left {
     color: #000000;
}

#content-5 .pull-left ul {
     padding: 0px;
}

#content-5 .pull-left li {
     background: url("http://park.summers.com.tw/toto/citypower/images/bes-14.png") no-repeat scroll 0px 9px transparent;
     list-style: none outside none;
     padding: 0px 0px 0px 20px;
}

#content-5 .pull-left h4 {
     margin: 10% 0px 5%;
     padding: 0px 0px 0px 2%;
}

#content-5 .pull-left .more {
     margin: 10% 0px 0px;
     text-align: right;
}

@media (max-width: 767px) {
  #content-5 .pull-left .more { text-align: center; }
}

#content-5 .pull-left .more a {
     color: #e72e4c;
     display: inline-block;
     padding: 1.5% 5%;
     transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  #content-5 .pull-left .more a { border: 1px solid #e72e4c; font-size: 1.5em; }
}

#content-5 .pull-left .more a:hover {
     background: none repeat scroll 0% 0% #e72e4c;
     color: #ffffff;
}

#content-5 .pull-left .stick {
     margin: 10% 0px 20%;
}

#content-5 .pull-left .stick img {
     display: inline;
}

@media (max-width: 767px) {
  #content-5 .pull-left .stick { margin: 10% 0px 0px; text-align: center; }
  #content-5 .pull-left .stick img { width: 50%; }
}
