@charset "utf-8";

article h1 { background-image: url(../images/bg_title.png); background-repeat: no-repeat; background-position: left top; padding: 20px 0 20px 0; color: #646363;font-size: 3em; }
@media (max-width:767px){
article h1 { font-size: 2em;}
}
/*menu-------------------------------------------------*/
#sideMenu { position: fixed; top: -400px; right: 10px; z-index: 1000; opacity: 0; }
#sideMenu ul { list-style-type: none; }
#sideMenu ul li a {-webkit-transition: all ease .0s;-moz-transition: all ease .0s;transition: all ease .0s; display: block; height: 76px; width: 120px; padding-left: 50px; background-image: url(../images/menu_slide.png); background-repeat: no-repeat; font-size: 1.2em; line-height: 50px; color: #d12638; text-indent: -9999px; }
#sideMenu ul li a:hover,#sideMenu ul li.active a { text-indent: 0px; }
#btn01 { background-position: 0px 0px; }
#btn02 { background-position: 0px -76px; }
#btn03 { background-position: 0px -152px; }
#btn04 { background-position: 0px -228px; }
#btn05 { background-position: 0px -304px; }
#sideMenu ul li.active #btn01,#btn01:hover { background-position: -124px 0px; }
#sideMenu ul li.active #btn02,#btn02:hover { background-position: -124px -76px; }
#sideMenu ul li.active #btn03,#btn03:hover { background-position: -124px -152px; }
#sideMenu ul li.active #btn04,#btn04:hover { background-position: -124px -228px; }
#sideMenu ul li.active #btn05,#btn05:hover { background-position: -124px -304px; }
@media (max-width:1024px){
#sideMenu { display:none;}
}
/*banner-------------------------------------------------*/
.caption { position: absolute; right: 15%; bottom: auto; top: 120px; left: 15%; z-index: 10; padding-top: 20px; padding-bottom: 20px; color: #010101; text-align: left; text-shadow: none; font-size: 2.8em; height: 100px; }
.bx-wrapper {margin:0;}
.bx-wrapper .bx-viewport {box-shadow: none;border: none!important;padding: 0px!important;margin: 0px!important;top: 0px!important;bottom: 0px!important;left: 0px!important;right: 0px!important;}
#slider ul {z-index:0!important;border: none!important;padding: 0px!important;margin: 0px!important;top: 0px!important;bottom: 0px!important;left: 0px!important;right: 0px!important;}
#slider {position: relative;}
.bx-controls {left: auto;height: 140px; max-width: 1190px; width: 80%; position: absolute; left: 10%; right: 10%; bottom: -30px; margin: 0 auto; }
.bx-wrapper .bx-pager.bx-default-pager {z-index: 90;width:auto;}
.bx-wrapper .bx-pager.bx-default-pager a{text-align:center;background-color: #c6c6c6;width: 18px; height: 18px; z-index: 90;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover{background-color: #ed5565;}
.bx-wrapper .bx-pager.bx-default-pager a.active{background-color: #ed5565;}
.bx-wrapper .bx-pager{text-align: right;bottom:30px;right:20px;}
.block { background-image: url(../images/bg_block.png); height: 140px; max-width: 1190px; width: 80%; position: absolute; left: 10%; right: 10%; bottom: -60px;  padding: 40px 160px 0 80px; margin: 0 auto; }
.block .row { margin: 0px; text-align: center;white-space: nowrap;}
.block .row .col-md-4{ float:none;display: inline-block;width:32.33%;}
.block .row a { background-repeat: no-repeat;background-size: contain;width:100%;display:block;padding-top:25%; }
#vLink{background-image: url(../images/btn_01.png);}
#dLink{background-image: url(../images/btn_02.png);}
#oLink{background-image: url(../images/btn_03.png);}
#vLink:hover{background-image: url(../images/btn_01h.png);}
#dLink:hover{background-image: url(../images/btn_02h.png);}
#oLink:hover{background-image: url(../images/btn_03h.png);}

@media (max-width:1200px) and (min-width:992px){
.block {height:90px;bottom: -45px;padding: 20px 160px 0 40px;}
.bx-wrapper .bx-pager{ bottom: 20px; }
.caption{font-size: 2.4em;}
}
@media (max-width:991px) and (min-width:900px){
.block {height:80px;bottom: -40px;padding: 20px 160px 0 40px;}
.bx-wrapper .bx-pager{ bottom: 15px; }
.col-sm-4, .col-md-4{padding:0 10px;}
.caption{left: 10%;font-size: 2.4em;}
.bx-wrapper .bx-viewport {min-height:400!important;width:120%!important;left:-20%!important;}
}
@media (max-width:900px) and (min-width:768px){
.block {height:90px;bottom: -40px;padding: 20px 160px 0 40px;width:100%;left: 0; right: auto;}
.bx-controls {width:100%;left:0;right:auto;}
.bx-wrapper .bx-pager{ bottom: 20px; }
.col-sm-4, .col-md-4{padding:0 10px;}
.caption{left: 10%;font-size: 2.4em;}
}
@media (max-width:767px){
.block {height:auto;bottom: 0;position:relative;padding: 0px 0 10px 0;width:100%;left: 0; right: auto;}
.bx-controls {width:100%;left:0;right:auto;bottom: -40px;height:auto;}
.bx-wrapper .bx-pager.bx-default-pager{ width:100%;bottom: 10px;text-align: center;right:0;}
.bx-wrapper .bx-pager.bx-default-pager a{width:10px;height:10px;}
.col-sm-4, .col-md-4{padding:0 0.5%;width:33.3%;margin:0}
.block .row { padding-top: 40px; }
.caption{font-size: 1.8em;top:0px;left: 0;right: 0;text-align:center;padding:0;}
}

/*color-------------------------------------------------*/
.color { padding-top: 60px; background-color: #f0f1f3; height: 805px; }
.color h2 { font-size: 1.3em; color: #000; margin-top: 0px; padding-bottom: 20px; }
.colorTag { width: 230px; border-right: 1px solid #828282; float: left; height: 400px; margin-top: 60px; position: relative; }
.colorTag ul { padding: 20px 40px 0 10px; }
.colorTag ul li { list-style-type: none; padding: 10px 0; }
.colorTag ul li.active span { -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3), inset 0 0 0 3px white; -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3), inset 0 0 0 3px white; box-shadow: 0 0 15px rgba(0,0,0,0.3), inset 0 0 0 3px white; }
.colorTag ul li a { color: #626262; line-height: 40px; height: 40px; }
.colorTag ul li a:hover span { -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3), inset 0 0 0 3px white; -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3), inset 0 0 0 3px white; box-shadow: 0 0 15px rgba(0,0,0,0.3), inset 0 0 0 3px white; }
.colorTag ul li a h3 {  font-size:1em;display:inline;}
.colorTag ul li a span { display: inline-block; width:100%; padding-top: 40px; max-width: 110px; float: right; }
#arrow{ position: absolute; right: -9px; top: 195px; background-image: url(../images/icon_colorTag.gif); height: 10px; width: 9px; }
.motoImg { float: right; width: 80%;max-width:800px; height: auto; text-align: right;padding-right:100px; }
.motoImg:before { content: ''; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.motoImg img{ width: 100%;display:none;max-width:700px; }
.motoImg img.current{ width: 100%;display:inline-block;vertical-align: middle; }
#mColorName{display: none;}
@media (max-width:1200px) and (min-width:992px){
.motoImg { width: 70%;padding-right:0px;}
}
@media (max-width:991px) and (min-width:768px){
.motoImg { width: 65%;padding-right:0px;}
}
@media (max-width:767px){
.color {height: auto;padding-top: 0px;  }
.colorTag { width: 100%;float:none;margin-top: 20px;border-right:none;border-bottom: 1px solid #828282;height:auto;overflow:hidden;padding-bottom:20px;}
.colorTag ul li a:hover span { -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3), inset 0 0 0 3px white; -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3), inset 0 0 0 3px white; box-shadow: 0 0 4px rgba(0,0,0,0.3), inset 0 0 0 3px white; }
.motoImg { width: 100%;float:none;height:auto;padding:40px 0 20px 0;position: relative;}
.colorTag ul li a h3 { display:none; }
.colorTag ul { padding: 0px; }
.colorTag ul li { float:left;width:33.3%;padding:2% 15px; text-align:center;}
.colorTag ul li a span { padding-top: 40%;max-width: none;}
#arrow{display:none; }
#arrow2{ position: absolute; right: 47%; left: 47%; top: 0px; background-image: url(../images/icon_colorTag2.gif); height: 9px; min-width: 10px; width: 6%; background-repeat: no-repeat; background-position: center top; }
#mColorName{display:block;color: #626262; text-align:center;width:100%;height:40px;margin-top: -40px; }
}

/*contact-------------------------------------------------*/
#contact{margin:0;background-image: url(../images/bg_contact.jpg); background-repeat: no-repeat; background-position: center top;position:relative;background-size:cover;height:155px;text-align:center;}
#sectionArrow{}
#contact a{font-size:2.4em;color:#c83a36;border:1px solid #f0807e;padding:15px;width:80%;max-width:440px;border-radius:4px;margin:10px auto;display:block;}
#contact a:hover{border-color:#FFF;color:#FFF;}
@media (max-width:767px){
#contact{display:block;height:auto;padding-bottom:10px;}
#contact a span{display:block;}
}

/*feature-------------------------------------------------*/
.feature { padding-top: 140px;padding-bottom:100px; background-color: #FFF;}
.feature .row { padding: 60px 0 20px 0; text-align: center; }
.feature .col-xs-6 { margin-bottom: 80px; }
.feature img {width:100%;position:absolute;left:0;top:0;} 
.feature .intro { position: absolute; left: 0; bottom: 0; background-image: url(../images/bg_feature.png); color: #FFF; text-align: left; width: 100%; font-size: 1.1em; padding-right: 10px; padding-left: 10px; }
.feature .point { width: 474px; padding-top: 474px; background-repeat: no-repeat; background-size: contain; display: inline-block; position: relative; }
@media (max-width:1200px) and (min-width:768px){
.feature .point { width: 100%; padding-top: 100%;  }
}
@media (max-width:767px){
.feature{padding-top: 0px;background-image:none;padding-bottom:60px;}
.feature .row { padding: 0 20px; text-align: center; }
.feature .point { width: 100%; padding-top: 100%;  }
.feature .intro {height:100%;}
.feature .intro h3{font-size:1.2em;padding-top: 40px;} 
.feature .col-xs-6{clear:both;width:100%;margin-bottom:40px;}
}

/*spec-------------------------------------------------*/
.spec { padding-top: 80px; background-color: #f0f1f3; height: 820px; }
.spec .table { max-width: 775px; font-size: 1.2em; margin: 0 auto 40px auto; }
.spec .table>tbody>tr>th { border: none; font-weight: normal; padding: 0; }
.spec #th { background-color: #FFF; width: 100%; margin: 60px 0 10px 0; padding: 10px 20px 10px 40px; }
.spec #th span { float: right; }
.spec .table>tbody>tr>td { padding-left: 80px; border: 1px dotted #939392; width: 50%; }
@media (max-width:767px){
.spec { padding-top: 0px;height: auto;}
.spec #th { background-color: #FFF; width: 100%; margin: 60px 0 10px 0; padding: 10px 0px 10px 15px; margin: 20px 0 10px 0;}
.spec .table>tbody>tr>td { padding-left: 10px;padding-right: 15px;width: auto;  }
}

/*accessory-------------------------------------------------*/
.accessory { padding-top: 80px;padding-bottom: 80px; background-color: #FFF; height: auto; }
.accessory h4 { font-size: 1.4em; padding-top: 40px; }
.accessory .row { padding: 20px 0 60px 0; }
.accessory img { border: 2px solid #e2e2e2; width:100%;}
.accessory hr { background-image: url(../images/news-06.png); height: 5px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; }
.accessory h3 { font-size: 1.1em; font-weight: bold; }
.accessory ul { padding-left: 20px; }
.accessory ul li { color: #767676;font-size: 1.1em;padding-bottom: 10px; }
@media (max-width:991px) and (min-width:768px){
.accessory .col-sm-3 { padding:0 5px;  }
}
@media (max-width:767px){
.accessory { padding-top: 0px;overflow:hidden;height:auto;padding-bottom:40px;}
.accessory h4 { padding-top: 20px; }
.accessory ul li { font-size: 0.9em;height: auto; }
.accessory .col-sm-3 { padding:0 5px;  }
.accessory .row { padding: 20px 0 0px 0;margin:0; }
}

/*gallery-------------------------------------------------*/
.gallery{background-color: #f0f1f3;padding:80px 0;text-align: center; }
.gallery img{display: block;margin: 0 auto;max-width: 100%;margin-bottom:20px;width:auto; }