@charset "utf-8";
/*-----------------------------------------------------------------------banner---*/
.banner { background-image: url(../images/banner_spot.jpg); }
.banner h1 { color: #000; }
/*-----------------------------------------------------------------------spot---*/
.spot { padding: 0px 0 40px 0; }
#googleMap { width: 100%; height: 520px; }
#mapTxt { padding: 20px 0; margin-top: 40px;clear: both;width: 100%;}
#mapTxt h3.txt1, #mapTxt h3.txt2, #mapTxt h3.txt3{display: inline-block;vertical-align:top;line-height:40px;padding-left:50px;width:33%;font-size: 1.1em;}
#mapTxt h3.txt1{background: url('../images/icon_site01.gif') left center no-repeat;}
#mapTxt h3.txt2{background: url('../images/icon_site02.gif') left center no-repeat;}
#mapTxt h3.txt3{background: url('../images/icon_site03.gif') left center no-repeat;}
.spot h1 { font-size: 2.4em; color: #797979; }
#qrcode {position: absolute;top:100px;right:0;text-align: center;}
#qrcode h3{color: #797979;font-size: 1.8em;}
#qrcode div{display:inline-block;}
#qrcode h4{font-size: 0.8em;background: url(../images/icon_android.gif) no-repeat;height:25px;line-height:25px;padding-left:25px;}
@media (min-width: 768px) and (max-width:1100px) {
#qrcode{position: static;float:left;}
}
@media (max-width: 1000px) {
#mapTxt h3.txt1, #mapTxt h3.txt2, #mapTxt h3.txt3{display: block;width:100%;}
}
@media (max-width:767px) {
.spot { padding: 40px 0 40px 0; }
#googleMap { width: 100%; height: 50%; }
.spot h1 { font-size: 2em; }
#qrcode{display:none;}
}
/*-----------------------------------------------------------------------spot01---*/
#spot01 { padding: 100px 0 40px 0; }
#spot01 h1 { width: auto; margin-right: 5%;padding-bottom: 20px; }
#spot01 .dropdown-toggle { overflow:hidden;width: 242px; background-color: #FFF; border: 2px solid #e3e4e8; color: #919191; height: 40px; border-radius: 4px; padding: 0; font-size: 1.3em; line-height: 38px; text-align: left; }
#spot01 .arrowSelect { background-color: #096cdb; display: inline-block; height: 100%; width: 40px; border-radius: 0 4px 4px 0; float: right; padding-left: 10px; }
#spot01 .dropdown-toggle:hover .arrowSelect { background-color: #277ad7; }
#spot01 .dropdown-toggle:focus { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
#spot01 .dropdown-toggle:focus .arrowSelect { background-color: #999; }
#spot01  select {outline: none;width: 100%;height: 35px;border: none;background-color: transparent;}
#spot01  select:hover ,#spot01  select:focus{outline: none;} 
#spot01 .caret { z-index:1000;color: #FFF; font-size: 1.3em; border-top: 8px solid; border-right: 8px solid transparent; border-left: 8px solid transparent; }
#spot01 .dropdown-menu>li>a { padding: 4px 10px; clear: both; font-weight: normal; color: #333; white-space: nowrap; font-size: 1.2em; }
#spot01 .dropdown-menu>li>a:hover { color: #999; text-decoration: none; background-color: #EEE; }
#spot01 .dropdown-menu { top: 37px; border-radius: 0 0 4px 4px; filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1; background-color: #FFF; width: 99%; box-shadow: none;border-top:none; }
#spot01 .btn { background-color: #096cdb; color: #FFF; width: 167px; font-size: 1.2em; -moz-box-shadow: 0px 4px 0px #0e0087; -webkit-box-shadow: 0px 4px 0px #0e0087; box-shadow: 0px 4px 0px #0e0087; height: 38px; }
#spot01 .btn:hover { background-color: #277ad7; }
#spot01 .btn:focus, #spot01 .btn:active { outline: none; background-color: #1065C2; -moz-box-shadow:inset 0px 1px 0px #0e0087; -webkit-box-shadow:inset 0px 1px 0px #0e0087; box-shadow:inset 0px 1px 0px #0e0087; }
#spot01 .btn-group { margin-right: 4%; }
@media (max-width:767px) {
#spot01 { padding: 40px 0; }
#spot01 h1 { float: none; margin: 0; padding-bottom: 20px; }
#spot01 .btn-group { margin-right: 0; margin-left: 0; margin-bottom: 20px; ; float: none; clear: both; width: 100%; }
#spot01 .dropdown-toggle { width: 100%; }
#spot01 .btn { width: 100%; }
#spot01 .dropdown-menu {  width: 100%; left:0; }
}
/*-----------------------------------------------------------------------spot02---*/
#spot02 { padding-bottom: 40px; }
#spot02 h1 { padding-bottom: 20px; }
#spot02 h3 { text-align: center;margin: 0 auto; padding-bottom: 40px;}
#spot02 .searchShow { border: 2px solid #cfcfcf; border-radius: 4px; padding: 6px 0; margin-bottom: 20px; text-align: center; vertical-align: middle; }
.searchShow a.siteName, .searchShow h2 { margin: 0; min-height: 52px; height: auto;font-size: 1.3em; background-repeat: no-repeat; background-position: left center; display: inline-block; line-height: 1.5em; text-align: left; padding: 12px 0 12px 60px; vertical-align: middle; }
.searchShow a.siteName{ color: #797979; background-image: url(../images/icon_station01.gif); width: 28%;}
.searchShow a.siteName:hover{color:#096cdb;}
.searchShow .address { background-image: url(../images/icon_station02.gif); width: 38%;color:#428bca; }
.searchShow .phone { background-image: url(../images/icon_station03.gif); width: 24%;color:#428bca;}
@media (max-width:991px) {
.searchShow a.siteName, .searchShow h2 { width: 100%; display: block; margin: 10px 0; }
.searchShow .address { width: 100%; }
.searchShow .phone { width: 100%; }
}
