<link href="/css/about.css" rel="stylesheet" type="text/css">


<article>
	<div class="banner">
    <div class="container">
    	<h1>認識城市動力</h1>
    </div>    
    </div>
    
    <div id="crumb">
        <section class="container" >
          <ol class="breadcrumb">
            <li><%= link_to "首頁", root_path %></li>
            <li><%= link_to "認識城市動力", page_pages_path('about')%></li>
            <li class="active">公司簡介</li>
          </ol>
        </section>
    </div>
    
    <section class="about">
    <div class="container">
        <img id="aboutImg" src="/images/img_about.jpg">
        <div id="about01">
        <h1>台灣城市動力</h1>
        <h2>CITY POWER</h2>
        <p>城市動力致力電動機車產業發展，使之形成為國家政策，首先電池交換系統 (BES ) 獲得行政院環保署認可，於新北市首先設站，並保障 5000 輛車子每輛補助 10000 元交換費用，2013 年底城市動力系統更進一步成為全國的共通規格系統，2014 年初又促成行政院環保署擴大補助範圍至電動自行車；同時間，城市動力也期許成為消費者最可靠的電動機車專家，任何交換型電動機車相關疑難雜症，交給城市動力就對了；預計 2014 年底前 10 個公司直營服務中心也將在新北市各區成立，目前已完成中和及蘆洲兩區服務中心。
</p>
        </div>
      <div id="about02">
          <img id="mark1" src="/images/bes-01.jpg" width="30" height="30">
          <img id="mark2" src="/images/bes-03.jpg" width="30" height="30">
<p>另一重大成就為公共 EBIKE 的設立，我們相信，電動二輪車的公共化會是改變這個社會交通現象的重大政策，公共 EBIKE 設立將有助於電池交換站之設置，而 BES 站的普及將更能加強民眾對對電動機車的認同。</p>
            <p>城市動力這幾年努力的方向是大格局的，如:建立 BES 系統平台、制訂共通電池規格、協調推動政策制訂法案、擬訂各項獎勵補助法令(如:補助車廠開發及檢測費用 65 至 300 萬、補助民眾購車及交換電池費用 11000 至 20000 元、補助各地方政府推動電動化政策等)，這些努力成果看似平常卻內含諸多龐大效益，如降低廠商投資開發風險協助產業發展，降低民眾購車負擔以增加銷售量，達到電動機車普及的目的；這些都大大提升城市動力的社會價值。</p>
      </div>
    </div>
    </section>
    
    <section class="road">
    <div class="container">
    	<div id="road01">
        <h1>城市動力在走一條<br>不一樣的路</h1>
        <p>城市動力橫跨能源 ( 直流電力及動力電池 )、環保 ( 電動機車 )、銷售通路 ( 直營服務中心及全國 3C 連鎖店 ) 及服務平台 ( 電池交換站 )，是行業的絕對領導者。</p>
        </div>
        <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div id="r01">建構電池交換站服務平台開賣直流電力有如當年的中油公司</div>         
        </div>
        <div class="col-xs-6 col-sm-3">
          <div id="r02">制訂電動二輪車共通規格成為全國最大動力電池組供應商</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div id="r03">致力於環保產業電動二輪車的開發，目前符合國家標準的車款城市動力佔了50%以上</div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div id="r04">電動機車行業最大銷售通路管道基本形成，僅新北市就超過五十個</div>
        </div>
      </div>
    </div>
    </section>
    
    <section class="event">
    <div class="container">
    	<h1>城市動力大事記</h1>
        <div id="event">
            <div id="e01">
            <table class="table">
              <tr>
                <td>2014</td>
                <td class="eventTxt">電池交換系統正式啟動<br><br></td>
              </tr>
              <tr>
                <td>2010</td>
                <td class="eventTxt">成立台灣城市動力股份有限公司<br><br></td>
              </tr>
              <tr>
                <td>2009</td>
                <td class="eventTxt">開發完成第三代鋰電池電動摩托車交換系統<span>並著手在台運行。</span></td>
              </tr>
            </table>
            </div>
            <div id="e02">
           <table class="table">
              <tr>
                <td>2008</td>
                <td class="eventTxt">全力轉型開發電動摩托車鋰電池交換系統。<br><br></td>
              </tr>
              <tr>
                <td>2006</td>
                <td class="eventTxt">原生產設備讓與中方持續運營。<br><br></td>
              </tr>
              <tr>
                <td>2003</td>
                <td class="eventTxt">蘇州電動(自行)車電池交換系統正式營運<span>兩個月內銷售近五千輛。</span></td>
              </tr>
            </table>
            </div>
            <div id="e03">
            <table class="table">
              <tr>
                <td>2002</td>
                <td class="eventTxt">於蘇州成立分公司，設立電動(自行)車廠及<span>28個電池交換站。</span></td>
              </tr>
              <tr>
                <td>2000</td>
                <td class="eventTxt">於中國廣州成立萬易通能源科技股份有限公司，<span>專事動力鎳氫電池及電池交換系統。</span></td>
              </tr>
              <tr>
                <td>1998</td>
                <td class="eventTxt">為長榮集團所併購，更名為長榮能源科技股份有限公司。<br><br></td>
              </tr>
            </table>
            </div>
            <div id="e04">
            <table class="table">
              <tr>
                <td>1996</td>
                <td class="eventTxt">於中國江蘇太倉成立億威能源科技股份有限公司。<br><br></td>
              </tr>
              <tr>
                <td>1994</td>
                <td class="eventTxt">退出台達節能股份有限公司，成立專門鎳氫電池整<span>廠設備製造，準備進軍中國市場。</span></td>
              </tr>
              <tr>
                <td>1989</td>
                <td class="eventTxt">為台達電子股份有限公司併購，更名為台達節能股份<span>有限公司。</span></td>
              </tr>
            </table>
            </div>
            <div id="e05">
            <table class="table">
              <tr>
                <td>1987</td>
                <td class="eventTxt">與洪博士成立聯合能源科技股份有限公司從事鎳氫<span>電池的開發生產。</span></td>
              </tr>
              <tr>
                <td>1986</td>
                <td class="eventTxt">國國務院編列十億人民幣預算作鎳氫電池的研究<span>開發及生產。</span></td>
              </tr>
              <tr>
                <td>1985</td>
                <td class="eventTxt">中國派遣六批共二百餘科技人員至美國接受洪國治<span>博士訓練。</span></td>
              </tr>
              <tr>
                <td>1984</td>
                <td class="eventTxt">旅美洪國治博士於北京國際氫能源會議發表儲氫<span>材料論文，開啟了國際鎳氫電池商品化熱潮。</span></td>
              </tr>
            </table>
            </div>
            
        </div>
    </div>
    </section>
</article>

