<link href="/css/app.css" rel="stylesheet" type="text/css">


<article>
	<div class="banner">
    <div class="container">
    	<h1>App介紹</h1>
    </div>    
    </div>
    
    <div id="crumb">
        <section class="container" >
          <ol class="breadcrumb">
            <li><%= link_to "首頁", root_path %></li>
            <li class="active">App介紹</li>
          </ol>
        </section>
    </div>
    
    <section class="app">
    <div class="container">
       <h1>APP介紹</h1>
       <div id="app01"><img src="/images/idx-07.jpg"></div>
       <div id="app02">
       	 <div class="intro">
         <h2>1. 站點地圖查詢</h2>
		 <p>配合 google map，可輕易的看出您附近之站點與電池數量．在點選欲到達之站點後（<span>紅框</span>處顯示資料），還可利用 google map 導航功能，設定路線．<span id="highlight">即便沒有網路，也可以做離線查詢．</span></p>
         <img src="/images/img_app01.jpg">
         <img src="/images/img_app02.jpg">
         <img src="/images/img_app03.jpg">
         </div>
         <div class="intro">
         <h2>2. 站點地區查詢</h2>
		 <p>可依據需求區域查詢站點（<span>紅框</span>處設定區域），會以清單方式列出站點位置</p>
         <img src="/images/img_app04.jpg">
         <img src="/images/img_app05.jpg">
		 </div>
         <div class="intro">
         <h2>3. 線上故障通報</h2>
		 <p>可於線上通報欄位直接輸入問題，線上客服人員將會立即處理您的問題
也可以直接播打客服專線或以 email 聯絡</p>
		 <img src="/images/img_app06.jpg">
		 </div>
         <div id="download">
         <h2>App 下載專區</h2>
		 <span>請選擇與您裝置相符的版本下載</span>
          <p>
            <a href="https://play.google.com/store/apps/details?id=bes.example.mo" target="_blank" title="前往下載"><img src="/images/img_app_android.gif" width="170" height="51"></a>
            <img class="qrcode" src="/images/img_app_android2.gif" width="142" height="142">
          </p>
          <!--<p>
            <a href="#" title="App Store"><img src="/images/img_app_ios.gif" width="170" height="51"></a><img class="qrcode" src="/images/img_app_android2.gif" width="142" height="142">
          </p>-->
         </div>
       </div>
    </div>
    </section>
</article>