<link rel="stylesheet/less" type="text/css" href="/css/features.less" />
<!--[if lt IE 9]> 
    <link rel="stylesheet" type="text/css" href="/css/features.css" />
    <link rel="stylesheet" type="text/css" href="/css/ie8.css" />
<![endif]-->


<article>
  <div class="banner">
    <div class="container">
      <h1>BES 電池交換系統</h1>
      <h2>/ Battery Exchange System</h2>
    </div>    
  </div>
    
    <div id="crumb">
        <section class="container" >
          <ol class="breadcrumb">
            <li><%= link_to "首頁", root_path %></li>
            <li class="active">認識 BES</li>
            <li class="active">認識 BES 特色</li>
          </ol>
        </section>
    </div>
  <div id="content-1" class="content">
    <section class="container row">
      <div class="col-sm-5">
        <h3>交換新動力   節能新選擇</h3>
        <p>以「電動機車電池交換系統」為發展主軸，藉由快速電池交換方式，可媲美進而漸漸汰換高污染的汽油車，促進電動機車的普及率。 藉此改善及推廣人們綠能車輛的方便性，創造全新的綠色交通形態。</p>
      </div>
      <div class="col-sm-6 col-sm-offset-1 row" id="name">
        <div class="item" id="item-1"><img src="/images/bes-01.jpg"></div>
        <div class="item" id="item-2"><img src="/images/bes-03.jpg"></div>
        <div class="col-sm-4"><img src="/images/bes-02.jpg" class="img-responsive"></div>
        <div class="col-sm-8">
          <h4>BES 命名由來</h4>
          <p>BES 可代表 Battery Exchange System (電池交換系統)、
            Battery Exchange Station (電池交換站)，像加油站之於機車，電池交換站就像是電動機車的能源補充站，補給能量的方式為電池交換。</p>
        </div>
      </div>
    </section>
  </div>
  <div id="content-2" class="content">
    <section class="container row">
      <h3 class="col-sm-12">BES 電動機車電池交換系統的優點</h3>
      <div class="col-sm-4">
        <div class="adv">
          <div class="item"><img src="/images/bes-04.png"></div>
          <h4>續航力</h4>
          <p>透過電池交換，車主不需要擔心續行距離，使用方式也跟加油一樣方便，更不需改變用車習慣。</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="adv">
          <div class="item"><img src="/images/bes-05.png"></div>
          <h4>電池零折損</h4>
          <p>任何快速充電的科技都會折損電池的壽命，使用 BES 電池交換則無須擔心支付電池折損的費用。</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="adv">
          <div class="item"><img src="/images/bes-06.png"></div>
          <h4>安全無風險</h4>
          <p>自行充電有諸多致命性隱患會危害民眾，使用 BES 電池交換，電池由專業單位負責管理，無任何風險。</p>
        </div>
      </div>
    </section>
  </div>
  <div id="content-3" class="content">
    <section class="container">
      <h3 class="text-center">BES 電池交換系統與自行充電的比較</h3>
      <div class="clearfix" id="clearfix-1">
      <div class="cmp pull-left" id="cmp-1">
        <h4>BES 電池交換系統</h4>
          <ol>
            <li>專業化管理電池，讓電池在最佳狀態下供消費者使用。</li>
            <li>電池充電及保固完全交由BES，確保消費者安全無虞。</li>
        </ol>
      </div>
      <div class="cmp pull-right" id="cmp-2">
        <h4>消費者自家充電</h4>
          <ol>
            <li>電池發生問題99%是在充電的時候。</li>
            <li>非專業充電器暗藏危機，輕則電池壽命折損，重則燒毀成災。</li>
            <li>把電池帶回家充電形同把不定時炸彈帶回家。</li>
        </ol>
      </div>
      </div>
      <div class="clearfix" id="clearfix-2">
      <div class="cmp pull-left" id="cmp-3">
        <h4>BES 電池交換系統</h4>
          <ol>
            <li>BES 站比加油站還多，民眾取得電力比加油還方便。</li>
            <li>電池交換，30秒完成。</li>
        </ol>
      </div>
      <div class="cmp pull-right" id="cmp-4">
        <h4>消費者自家充電</h4>
          <ol>
            <li>充電成為日常例行性的負擔，忘記充電即無法騎乘</li>
            <li>充電耗時，不符民眾“即時需求”!</li>
        </ol>
      </div>
      </div>
      <div class="clearfix" id="clearfix-3">
      <div class="cmp pull-left" id="cmp-5">
        <h4>BES 電池交換系統</h4>
          <ol>
            <li>電池終身保固，民眾無後顧之憂。</li>
            <li>電池殘值可抵換購新車價錢。</li>
        </ol>
      </div>
      <div class="cmp pull-right" id="cmp-6">
        <h4>消費者自家充電</h4>
          <ol>
            <li>為增加行程車子須配備更多組電池而使車價更增高。</li>
            <li>電池壽命折損使用成本相形增高。</li>
        </ol>
      </div>
      </div>
    </section>
  </div>
  <div id="content-4" class="content">
    <section class="container row">
      <h3 class="col-sm-12">BES 電池交換站點位置</h3>
      <div class="col-sm-3 col-xs-6">
        <div class="loc"> <img src="/images/bes-15.jpg" class="img-responsive">
          <p>加油站<br>
            民眾既熟悉又習慣的地方</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="loc"> <img src="/images/bes-16.jpg" class="img-responsive">
          <p>機車行<br>
            民眾以往買車修車的地方</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="loc"> <img src="/images/bes-17.jpg" class="img-responsive">
          <p>車站、公園、市場.....<br>
            民眾居家生活常去的場所</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="loc"> <img src="/images/bes-18.jpg" class="img-responsive">
          <p>24小時便利商店<br>
            民眾熟知的地標</p>
        </div>
      </div>
    </section>
  </div>
  <div id="content-5" class="content">
    <section class="container clearfix">
      <div class="pull-right">
        <h3>BES 改變五十年來電池業幾項<br>
          <strong>不可能的任務</strong></h3>
        <ol>
          <li>● 使不同廠商的電池可同時共用</li>
          <li>● 使不同材料的電池可同時共用</li>
          <li>● 使不同時間生產(新舊)的電池可同時共用</li>
          <li>● 使不同電容量的電池可同時共用</li>
          <li>● 使不同形狀及型號的電池可同時共用</li>
          <li>● 電池化整為零的使用及管理方法更靈活、危險性化為零</li>
        </ol>
      </div>
      <div class="pull-left text-center"><img src="/images/bes-19.png" class="img-responsive"></div>
    </section>
  </div>
  <div id="content-6" class="content">
    <section class="container row">
      <div class="pull-left">
        <h3>海納百川的 BES 核心技術平臺</h3>
        <ol>
          <li>全球最大規模，最完整的電池組管理系統，時時監控所有交換站機台、電池狀態，匯總至中控資料中心。</li>
          <li>針對不同的材料如鋰鈷，鋰錳，三元或鋰鐵等，採用各自相應的控制器及保護板。</li>
          <li>建立由原廠所提供之各型電池的最佳電力管理參數，再經所累積之交換參數修正為最佳的管理。</li>
          <li>工業等級的機構設計，能夠接納方型、圓柱型、或鋁箔軟包裝等各型電池，及能確保交換站與電池能在惡劣的環境與使用條件下受到完善的保護。</li>
        </ol>
      </div>
      <div class="pull-right text-center">
        <a href="javascript:;"><span id="f01">可靠得交換月臺<br>監控資訊系統</span><img src="/images/icon_f01.png"></a>
        <a href="javascript:;"><span id="f02">最適化的電池管理<br>參數資料庫</span><img src="/images/icon_f02.png"></a>
        <a href="javascript:;"><span id="f03">智慧型的電池管理<br>系統BMS</span><img src="/images/icon_f03.png"></a>
        <a href="javascript:;"><span id="f04">能接納各種電池之<br>卓越機構設計</span><img src="/images/icon_f04.png"></a>
      </div>
    </section>
  </div>
  <div id="content-7" class="content">
    <section class="container row">
      <h3 class="text-center col-sm-12">BES 節能減碳環保新價值</h3>
      <div class="col-sm-3 col-xs-6">
        <div class="val"> <img src="/images/bes-20.png"><br>
          <span id="num01" class="timer" data-form="0" data-to="1300" data-speed="2200">1300</span><span> 萬</span>
          <p>目前全臺灣有登記牌照機車超過 1300 萬輛</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="val"> <img src="/images/bes-21.png"><br>
          <span id="num02" class="timer" data-form="0" data-to="10545" data-speed="2000">10545</span>
          <p>每部電動機車二氧化碳減量成本為 NT10545 元</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="val"> <img src="/images/bes-22.png"><br>
          <span id="num03" class="timer" data-form="0" data-to="1370.85" data-speed="2400" data-decimals="2">1370.85</span><span> 億</span>
          <p>臺灣機車全面電動化，未來國際碳權貢獻值將達 NT1370.85 億元</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="val"> <img src="/images/bes-23.png"><br>
          <span id="num04" class="timer" data-form="0" data-to="500" data-speed="1800">500</span><span> 萬</span>
          <p>公共投資約 NT300 億元，每天服務 500 萬人次，投資效益是超值的</p>
        </div>
      </div>
    </section>
  </div>
  <div id="content-8" class="content hidden-sm hidden-xs">
    <section class="container row">
      <div class="pull-left">
        <div id="ipr-1" class="ipr">
          <p>可供應多組不同電壓電<br>
            池組並聯輸出使用之裝置</p>
          <span> 申請日：2011/10/31<br>
          申請案號：100220446<br>
          國家：台灣、大陸 </span> </div>
        <div id="ipr-3" class="ipr">
          <p>可供不同材料特性之電池<br>
            組通用之電池交換裝置</p>
          <span> 申請日：2011/10/31<br>
          申請案號：100220448<br>
          國家：台灣、大陸 </span> </div>
        <div id="ipr-5" class="ipr">
          <p>電池交換系統之電池組保<br>
            護及監控裝置</p>
          <span> 申請日：2011/11/04<br>
          申請案號：100220854<br>
          國家：台灣、大陸 </span> </div>
        <div id="ipr-7" class="ipr">
          <p>電池組防拆保護機構<br>
            </p>
          <span> 申請日：2011/11/04<br>
          申請案號：100220859<br>
          國家：台灣、大陸 </span> </div>
      </div>
      <div class="pull-right">
        <div id="ipr-2" class="ipr">
          <p>可供不同材料特性之電池<br>
            組通用之電池充電裝置</p>
          <span> 申請日：2011/10/31<br>
          申請案號：100220447<br>
          國家：台灣、大陸 </span> </div>
        <div id="ipr-4" class="ipr">
          <p>電池交換站鎖碼防盜裝置<br>
            </p>
          <span> 申請日：2011/10/31<br>
          申請案號：100220449<br>
          國家：台灣、大陸 </span> </div>
        <div id="ipr-6" class="ipr">
          <p>用於電池交換站交換電池<br>
            之電池計量與計價裝置</p>
          <span> 申請日：2011/11/04<br>
          申請案號：100220857<br>
          國家：台灣、大陸 </span> </div>
        <div id="ipr-8" class="ipr">
          <p>電動車輀之電池收容裝置<br>
            </p>
          <span> 申請日：2011/11/08<br>
          申請案號：100221028<br>
          國家：台灣、大陸 </span> </div>
      </div>
      <h3 class="text-center">“智慧財產權檢索與管理”<br>
        <small>Battery Exchange System<br>
        電池交換站系統</small></h3>
    </section>
  </div>
</article>


<script src="/js/jquery.appear.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/features.js"></script>