<link rel="stylesheet/less" type="text/css" href="/css/processes.less" />
<!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/ie8.css" />
    <link rel="stylesheet" type="text/css" href="/css/processes.css" />
<![endif]-->

<article>
  <div class="banner">
    <div class="container">
      <h1>BES 電池交換站</h1>
      <h2>/ Battery Exchange System</h2>
    </div>    
  </div>
    
    <div id="crumb">
        <section class="container" >
          <ol class="breadcrumb">
            <li><%= link_to "首頁", root_path %></li>
            <li class="active">認識 BES</li>
            <li class="active">BES 電池交換站</li>
          </ol>
        </section>
    </div>
  <div class="content" id="content-1">
    <section class="container">
      <h3>BES 電池交換站操作流程步驟</h3>
      <div class="clearfix">
      <div class="step pull-left" id="step-1">
        <img src="/images/prc-01.jpg" class="img-responsive">
        <p>騎乘電動機車到交換站</p>
      </div>
      <div class="step pull-right" id="step-2">
        <img src="/images/prc-02.jpg" class="img-responsive">
        <p>將ID卡置於感應區</p>
      </div>
      </div>
      <div class="clearfix">
      <div class="step pull-left" id="step-3">
        <img src="/images/prc-03.jpg" class="img-responsive">
        <p>交換站吐出空軌</p>
      </div>
      <div class="step pull-right" id="step-4">
        <img src="/images/prc-04.jpg" class="img-responsive">
        <p>自車中取出電池</p>
      </div>
      </div>
      <div class="clearfix">
      <div class="step pull-left" id="step-5">
        <img src="/images/prc-05.jpg" class="img-responsive">
        <p>放入空軌中<br>系統同時確認電池資料</p>
      </div>
      <div class="step pull-right" id="step-6">
        <img src="/images/prc-06.jpg" class="img-responsive">
        <p>辨識完成後吐出一飽電之電池</p>
      </div>
      </div>
      <div class="clearfix">
      <div class="step pull-left" id="step-7">
        <img src="/images/prc-07.jpg" class="img-responsive">
        <p>取出電池置回車中</p>
      </div>
      <div class="step pull-right" id="step-8">
        <img src="/images/prc-08.jpg" class="img-responsive">
        <p>發動車輛享受您的旅程</p>
      </div>
      </div>
    </section>
  </div>
  <div class="content" id="content-2">
    <section class="container" >
      <h3>BES 電池交換站操作流程影片</h3>
      <!-- 4:3 aspect ratio --> 
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/lCYLzHfFp7M?rel=0"></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>
